TempoCrashHandler/.vs
TempoCrashHandler/obj
TempoCrashHandler/bin/Debug/TempoCrashHandler.exe
TempoCrashHandler/bin/Debug/TempoCrashHandler.exe.config
TempoCrashHandler/bin/Debug/TempoCrashHandler.pdb
TempoCrashHandler/bin/Release/TempoCrashHandler.exe
TempoCrashHandler/bin/Release/TempoCrashHandler.exe.config
TempoCrashHandler/bin/Release/TempoCrashHandler.pdb